* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 70%;
    margin: auto;
}

.debug .corpo {
    height: 750px;
}

.debug .testa {
    height: 80px;
    background-color: #e579e6;
}

.debug .ciccio {
    background-color: #e1d67a;
    height: 300px;
}

.debug .pippo {
    height: 100px;
    background-color: #abcfe7;
}

.debug .box1 {
    background-color: #abcfe7;
    height: 300px;
}

.debug .box2 {
    background-color: #abcfe7;
    height: 300px;
}

.debug .pièdipagina {
    height: 80px;
    background-color: #8801fe;
}

.debug .contenitore {
    background-color: #0086ff;
    height: 334px;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.testa {
    margin-top: 1.5rem;
}

.corpo {
    margin-top: 1rem;
}

.ciccio {
    background-image: url(./img/banner.jpg);
    height: 35rem;
    border-radius: 3%;
    margin-top: 1rem;
}

.titolo1, .testo1 {
    padding-left: 2rem;
    color: white;
}

.titolo1 {
    position: absolute;
    float: left;
    bottom: 152px;
    font-size: 2.5rem;
    word-wrap: break-word;
    width: 49%;
}

.testo1 {
    position: absolute;
    float: left;
    bottom: 122px;
    font-size: 1.5rem;
    width: 51%;
}

.pippo {
    margin-top: 1rem;
}

.box1, .box2 {
    float: left;
}

.box1 {
    width: 15%;
    margin-top: 1rem;
}

.box2 {
    width: 68%;
    margin: 1rem 1% 0 1%;
}

.pièdipagina {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo {
    width: 8rem;
    margin-left: 2rem;
}

.nav {
    margin-left: 2rem;
    text-decoration: none;
    font-family: Montserrat;
}